* {
  margin: 0;
  padding: 0;
}

.title__works h1{
  max-width: 630px;
  padding: auto;
  margin: auto;
  text-align: center;
  margin-top: 100px;
  font-size: 55px;
  color: #fff;
  background: #131313;
  padding: 18px;
  border-radius: 12px;
  border: 3px solid #fff;
}


.title__works span {
    --total: calc(var(--duration)
     + var(--delay));
     position: relative;
     display: block;
     color: transparent;
     overflow: hidden;
     animation: revealText 0.5s
     var(--total) forwards;
     font-size: 73px;
     font-family: 'Blaka', cursive;
     margin-top: 250px;
     padding-left: 75px;
}

.title__works span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background: #AF0404;
    animation: 
    rollIn var(--duration)
    var(--delay) forwards,
    rollOut var(--duration)
    var(--total) forwards;
}

.title__works span:nth-child(2)::after {
    border-top: 3px solid #AF0404;
}


@keyframes revealText {
    to {
        color: #fff;
    }
}

@keyframes rollIn {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes rollOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(105%);
    }
}


/* Galeria */

.img-gallery {
  width: 90%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.img-gallery img{
  width: 95%;
  cursor: pointer;
  border-radius: 15px;
}

.img-gallery img:hover {
  transform: scale(1.05);
  border-radius: 15px;
  box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
  transition: ease-in-out 0.5s;
}



.full-img {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.full-img img {
    width: 90%;
    max-width: 500px;
}

.full-img span {
    position: absolute;
    top: 4.1%;
    right: 8%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}